{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <div class="login">
        <h1>Inscription</h1>
        <div class="inputRegister">
            <form action="your_registration_endpoint" method="post">
                <!-- Remplacez "your_registration_endpoint" par l'URL de votre gestionnaire d'inscription -->
                <!-- Email -->
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Email" required>

                <!-- Mot de passe -->
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Mot de passe" required>

                <!-- Nom -->
                <label for="nom">Nom</label>
                <input type="text" name="nom" id="nom" placeholder="Nom" required>

                <!-- Prenom -->
                <label for="prenom">Prenom</label>
                <input type="text" name="prenom" id="prenom" placeholder="Prenom" required>

                <!-- Adresse -->
                <label for="adresse">Adresse</label>
                <input type="text" name="adresse" id="adresse" placeholder="Adresse" required>

                <!-- Code postal -->
                <label for="postal">Code postal</label>
                <input type="text" name="postal" id="postal" placeholder="Code postal" required>

                <!-- Ville -->
                <label for="ville">Ville</label>
                <input type="text" name="ville" id="ville" placeholder="Ville" required>

                <!-- J'accepte les conditions d'utilisation -->
                <input type="checkbox" name="agreeTerms" id="agreeTerms" required>
                <label for="agreeTerms">J'accepte les conditions d'utilisation</label>

                <!-- Bouton d'inscription -->
                <button type="submit" class="buttonConnexion">Inscription</button>
            </form>
        </div>
    </div>


{% endblock %}
