{% extends 'base.html.twig' %}
{% block title %}Page de de connexion{% endblock %}

{% block body %}
<form action="" method="post">

<div>
<label for="nom">Mail :</label>
<input type="text" id="mail" name="mail">
</div>

<div>
<label for="nom">Mdp :</label>
<input type="text" id="mdp" name="mdp">
</div>

{% endblock %}